@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
 
<h1>@Model.user.Email</h1>

<div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <ul class="list-unstyled chat-list mt-2 mb-0">
                        @foreach (var contact in Model.contacts)
                        {
                        <li class="clearfix">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                            <div class="about">
                                <div class="name">@contact.Name</div>
                                @*to be set later if offline or online*@
                                <div class="status"> <i class="fa fa-circle oonline"></i> online </div>
                            </div>
                        </li>
                    }
                    </ul>
                </div>

            <div class="chat">
                @await Html.PartialAsync("contacts");
            </div>
            
        </div>
    </div>
</div>